@charset "utf-8";

.fieldWrapper {
   padding-top: 1%;
   padding-bottom: 1%;
   display: flex;
   flex-direction: row;
   align-items: center;
}

.label {
   width: 10%;
}

.field {
   max-width: 90%;
}
