@charset "utf-8";

.semester_label {
   display: inline-block;
   min-width: 90%;
}

#remove_semester_button {
   display: inline-block;
   max-width: 10%;
   visibility: hidden;
}

#remove_semester_button:hover {
   cursor: pointer;
}

.semester_row:hover #remove_semester_button {
   visibility: visible;
}

.subject_col {
   display: inline-block;
   vertical-align: middle;
}

.subject_name {
   width: 93%;
}

.remove_subject_button {
   width: 7%;
   visibility: hidden;
}

.remove_subject_button:hover {
   cursor: pointer;
}

.subject_row:hover .remove_subject_button {
   visibility: visible;
}

#remove_course_popup_container {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: black;
   z-index: 2;
   background-color: rgba(0, 0, 0, 0.5);
   display: none;
   text-align: center;
}

#remove_course_popup {
   background-color: white;
   display: inline-block;
   padding: 3%;
   border-radius: 5%;
   visibility: hidden;
}

#dependent_subjects {
   display: none;
   text-align: left;
}

#remove_course_confirmation {
   display: none;
}

#loading_animation {
   display: none;
   margin-left: auto;
   margin-right: auto;
   max-height: 3em;
}

.confirmation_button {
   display: inline-block;
   margin: 1%;
}

table, th, td, tr{
    height: 40px;
    width: 384px;
	border: 1px solid #0078E7;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica,sans-serif;
}

th{
	background-color:#0078E7;
	color: #EBEBEB;
}

tr{
	height: 40px;
	text-align: center;
    font-weight: bold;
}tr:hover{
	background-color:#DBDBDB;
}

table{
    margin-left: 67px; 
    margin-top: 30px;
    margin-bottom: 30px;
}

.yearBanner{
    width: auto;
    background-color:#0078E7;
    color: #EBEBEB;
    text-align: center;
    border: 0px;
    font-family: "Lucida Grande", Verdana, Arial, Helvetica,sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding-top: 1%;
    padding-bottom: 1%;
}

.yearFrame{
    width: auto;
    height: auto;
    border: 1px solid #0078E7;
}

.semesterFrame{
    width: 451px;
    height: auto;
    float: left;
}

/* unvisited link */
a:link {
    color: #666666;
}

/* visited link */
a:visited {
    color: #666666;
}

/* mouse over link */
a:hover {
    color: #444444;
}

/* selected link */
a:active {
    color: #666666;
}

a{
    text-decoration: none;
}
