table, th, td, tr{
	width: 100%;
	border: 1px solid #666;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica,sans-serif;
}

th{
	background-color:#0075C9;
	color: #EBEBEB;
}

tr{
	height: 40px;
	text-align: center;
}

td{
    width: 4%;
}td:hover{
	background-color:#DBDBDB;
}

ul{
    list-style-type:none;
}

input[type="radio"]{
    display:none;
}


input[type="radio"] + label span{
    display:inline-block;
    height:19px;
    width:19px;
    margin: -1px 4px 0 0;
    vertical-align:middle;
    background:url(../images/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}
input[type="radio"]:checked + label span{
    background:url(../images/check_radio_sheet.png) -19px top no-repeat;
    font-weight:bold;
}
