<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Program Plan</title>
      <style>
         @page {
            size: a4 portrait;
            margin: 1cm;
         }

         h1, h2 {
            text-align: center;
         }

         #first_element {
            padding-top: 3em;
         }
      </style>
   </head>
   <body>
      <h1 id="first_element">
         {{ program_plan.program }}
      </h1>
      <h2>
         Program Plan
      </h2>
   </body>
</html>
