{% extends "html/base.html" %}
{% load staticfiles %}

      {% block head %}
      {{ block.super }}
      <link href="{% static "css/add_course.css" %}" rel="stylesheet" type="text/css">
      <script type="text/JavaScript" src="{% static "js/add_course.js" %}"></script> 
      {% endblock %}
                   
                   {% block nav_bar %}
                   <div class="nav_item">
                      <form method="POST" action="{% url 'polygons.views.back_to_plan' %}">
                      {% csrf_token %}
                         <button type="submit" class="pure-button smallButton">
                            Back To Plan
                         </button>
                      </form>
                   </div>
                   {% if subject_list %}
                   <div class="nav_item">
                      <button class="pure-button smallButton" onclick="toggle_filter_display();">
                         Filter Courses
                      </button>
                   </div>
                   {% endif %}
                   {% endblock %}

      {% block body %}
      {% if subject_list %}
      <form method="POST" action="{% url 'polygons.views.course_listing' %}" id="filter_form">
         <h2>Filter courses:</h2>
         {% csrf_token %}
         <div id="filter_fields">
            <div class="field_wrapper" id="career_filter">
               <div class="field">
                  <div class="label">
                     <label for="id_careers">Career:</label>
                  </div>
                  {{ filter_form.careers }}
                  {{ filter_form.careers.errors }}
               </div>
            </div> 
            <div class="field_wrapper" id="subject_area_filter">
               <div class="field">
                  <div class="label">
                     <label for="id_subject_areas">Subject Area:</label>
                  </div>
                  {{ filter_form.subject_areas }}
                  {{ filter_form.subject_areas.errors }}
               </div>
            </div> 
            <div class="field_wrapper" id="letter_filter">
               <div class="field">
                  <div class="label">
                     <label for="id_letters">Letter:</label>
                  </div>
                  {{ filter_form.letters }}
                  {{ filter_form.letters.errors }}
               </div>
            </div>
         </div>
         <button type="submit" class="pure-button smallButton">
            Update Filter
         </button>
      </form>

      <h1>Select a course:</h1>
    <table>
        {% for subject in subject_list %}
        <tr>
            <td>
                <a class="course_title" href="{{ subject.handbook_link }}" target="_blank"> {{ subject.code }} - {{ subject.name }} </a>
                <br>
                Units of Credit: {{ subject.uoc }}
                <br>
                Offered by: {{ subject.offered_by.name }}
            </td>
            
            <td>
                <form method="POST" action="{% url 'polygons.views.add_course' %}"> 
                    {%csrf_token %}
                    <input type="hidden" name="subject" value="{{ subject.id }}">
                    <button type="submit" class="pure-button pure-button-primary">Add To Plan</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h1>
      There are no subjects to choose from...
    </h1>
    <div>
      Try creating a new semester and adding courses there, or try removing courses with smaller UOC and replacing them with courses of larger UOC, in order to fill your degree.
    </div>
    {% endif %}
    {% endblock %}
