{% extends "html/base.html" %}
{% load staticfiles %}

      {% block head %}
      {{ block.super }}
      <link href="{% static "css/add_course.css" %}" rel="stylesheet" type="text/css">
      {% endblock %}

      {% block body %}
      <form method="POST" action="{% url 'polygons.views.add_course' %}">
         {% csrf_token %}
         {{ filter_form.non_field_errors }}
         <div class="fieldWrapper"> 
            <label for="id_careers">Career:</label>
            {{ filter_form.careers }}
            {{ filter_form.careers.errors }}
         </div> 
         <div class="fieldWrapper">
            <label for="id_subject_areas">Subject Area:</label>
            {{ filter_form.subject_areas }}
            {{ filter_form.subject_areas.errors }}
         </div> 
         <div class="fieldWrapper">
            <label for="id_letters">Letter:</label>
            {{ filter_form.letters }}
            {{ filter_form.letters.errors }}
         </div> 
         <input type="submit" value="Filter">
      </form>
      <h2>Select a course:</h2>
      <ul>
         {% for subject in subject_list %}
         <li>
            {{ subject }}
         </li>
         {% endfor %}
      </ul>
      {% endblock %}
