{% extends "html/base.html" %}
    {% load staticfiles %}

    {% block head %}
    <link href="{% static "css/add_course.css" %}" rel="stylesheet" type="text/css">
    {% endblock %}

    {% block body %}
    <h2>Select a course:</h2>

    <table>
        {% for subject in subject_list %}
        <tr>
            <td>
                <a class="course_title" href='#'> {{ subject.code }} - {{ subject.name }} </a>
                <br>
                Units of Credit: {{ subject.uoc }}
                <br>
                Offered by: {{ subject.offered_by.name }}
            </td>
            <td>
                <form method="POST" action="{% url 'polygons.views.add_course' %}"> 
                    {%csrf_token %}
                    <input type="hidden" name="subject" value="{{ subject.id }}">
                    <button type="submit" class="pure-button pure-button-primary">Add To Plan</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    {% endblock %}
