{% load staticfiles %}
<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
            <link href="{% static "css/base.css" %}" rel="stylesheet" type="text/css">
            <link href="../../static/css/base.css" rel="stylesheet" type="text/css">
      <title>Polygons</title>
   </head>
   <body>
      <div class="mainFrame">
      	
      	<div class="bannerFrame">
	        <div class="logo"><img src="../../static/images/PolygonsLogo.png" width="346" height="120"></div>
        </div> <!--bannerFrame-->
      </div> <!--mainframe-->
   </body>
</html>
