{% extends "html/base.html" %}
      {% block body %}
      <h1>
         What is Polygons?
      </h1>
          <div class="content">
            Polygons is web application that allows you to interactively plan  CSE degrees based on selected courses. Polygons also provides a course reviewer to help you get a better idea of the courses you're interested in.
          </div>      
      <p>
         <a href="{% url 'polygons.views.degree_list' %}">Degree Planner</a>
      </p>
      {% endblock %}