{% extends "html/base.html" %}
	{% block body %}
		<h2>Degree Planner - {{ program }}</h2>
		<div class="leftColumn">
		<div>
                   <form method="POST" action="#">
                       {%csrf_token %}
                       <input type="submit" value="Save">
                   </form>
                </div>
                <div>  
                    <table>
			<tr><th>Selected Courses: </th></tr>
			<tr><td>COMP1917</td></tr>							
			<tr><td>COMP1927</td></tr>							
			<tr><td>COMP2911</td></tr>							
			<tr><td>COMP2041</td></tr>							
			<tr><td>COMP2911</td></tr>							
			<tr><td>COMP2041</td></tr>							
			<tr><td>Add Course +</td></tr>							
		    </table>
		</div>
		<div class="rightColumn">
			<div class="yearFrame">
				<div class="semesterFrame">
					<table>
					   <tr><th>Semseter 1, 2014: </th></tr>
					   <tr><td>COMP1917</td></tr>							
					   <tr><td>COMP1927</td></tr>							
					   <tr><td>COMP2911</td></tr>							
					   <tr><td>Add Course +</td></tr>							
					</table>
				</div>
				<div class="semesterFrame">
					<table>
					   <tr><th>Semseter 2, 2014: </th></tr>
				
					   <tr><td>Add Course +</td></tr>							
					</table>
				</div>
			</div>
				
			<div style="clear: both; height: 100px;"></div>

			<div class="yearFrame">
				<div class="semesterFrame">
					<table>
						<tr><th>Semseter 1, 2015: </th></tr>
						<tr><td>COMP1917</td></tr>							
						<tr><td>COMP1927</td></tr>							
						<tr><td>COMP2911</td></tr>							
						<tr><td>Add Course +</td></tr>							
					</table>
				</div>
				<div class="semesterFrame">
					<table>
						<tr><th>Semseter 2, 2015: </th></tr>
						<tr><td>COMP1917</td></tr>							
						<tr><td>COMP1927</td></tr>							
						<tr><td>COMP2911</td></tr>							
						<tr><td>Add Course +</td></tr>							
					</table>
				</div>
			</div>
	   </div>
	   <div style="clear: both;"></div>     
	{% endblock %}
