{% extends "html/base.html" %}
                   {% block nav_bar %}
                   <div class="nav_item">
                      <a href="{{ program.handbook_link }}" target="_blank">
                         <button class="pure-button smallButton">
                            Handbook Entry
                         </button>
                      </a>
                   </div>
                   <div class="nav_item">
                      <form method="POST" action="{% url 'polygons.views.program_details' program.id %}">
                         {% csrf_token %}
                         <button type="submit" class="pure-button smallButton">
                            Create Plan
                         </button>
                      </form>
                   </div>
                   {% endblock %}

      {% block body %}
      <div>
         <h1>{{ program }}</h1>
      </div>
      <div>
         <h2>
            Core Courses
         </h2>
         <ul>
            {% for subject in core_subjects %}
            <li>
               <a href="{{ subject.handbook_link }}" target="_blank">{{ subject }}</a>
            </li>
            {% endfor %}
         </ul>
      </div>
      {% endblock %}
