{% extends "html/base.html" %}
    {% load staticfiles %}
    {% block head %}
    {{ block.super }}
    <link href="{% static "css/program_plan.css" %}" rel="stylesheet" type="text/css">
    {% endblock %}
    {% block body %}
        <h2>Degree Planner - {{ program_plan.program }}</h2>
        <div>
            <input type="button" value="Save" onclick="alert('You can continue the plan later on via ' + window.location.href)">
        </div>  
        <a href="{% url 'polygons.views.program_plan_to_pdf' program_plan.id %}" target="_blank">
           <button class="pure-button smallButton" id="pdf_button">
              Export to PDF
           </button>
        </a>
          <form method="POST" action="{% url 'polygons.views.delete_program_plan' program_plan.id %}" onsubmit="return confirm('Are you sure want to permanently delete this plan?');"> 
           {%csrf_token %}
           <button type="submit" class="pure-button smallButton" id="delete_button">
              Delete Plan
           </button>
        </form>
        </div>
        
        <h2>
            Program Plan
        </h2>
        
        {% for plan_year in plan_years %}
            <div class="yearFrame">
                <div class="yearBanner">Year {{ plan_year.year }}</div>
                {% for plan_semester in plan_year %}
                    <div class="semesterFrame">
                        <table> 
                            <th>{{ plan_semester.semester }} (UOC: {{ plan_semester.uoc }} / {{ MAX_SEMESTER_UOC }})</th>
                            {% for subject in plan_semester %}
                            <tr><td>
                                <a href="{{ subject.handbook_link }}" target="_blank">{{ subject }}</a>
                            </td></tr>
                            {% endfor %}
                            {% if not plan_semester.is_uoc_full %}
                                <tr><td>
                                    <form method="POST" action="{% url 'polygons.views.program_plan' program_plan.id %}"> 
                                        {%csrf_token %}
                                        <input type="hidden" name="semester" value="{{ plan_semester.semester.id }}">
                                        <input type="hidden" name="year" value="{{ plan_year.year }}">
                                        <input type="submit" value="Add Course"><br><br>
                                    </form>
                                </td></tr>                            
                            {% endif %}
                        </table>
                    </div>
                {% endfor %}
                <div style="clear: both;"></div>                
            </div>
            <div style="clear: both; height: 50px;"></div>
        {% endfor %}     
          <div>
            <form method="POST" action="{% url 'polygons.views.new_semester' program_plan.id %}"> 
            {%csrf_token %}
            <input type="submit" value="New Semester"><br><br>
            </form>
        </div>     
    {% endblock %}
