{% extends "html/base.html" %}
      {% block body %}
      <div>
         <h2>{{ program }}</h2>
      </div>
      <div>
         <a href="{{ program.handbook_link }}" target="_blank">
            Handbook Link
         </a>
      </div>
      <div>
         <form method="POST" action="{% url 'polygons.views.program_details' program.id %}">
            {% csrf_token %}
            <input type="submit" value="Create Plan">
         </form>
      </div>
      <div>
         <h2>
            Core Courses
         </h2>
         <ul>
            {% for subject in core_subjects %}
            <li>
               <a href="{{ subject.handbook_link }}" target="_blank">{{ subject }}</a>
            </li>
            {% endfor %}
         </ul>
      </div>
      {% endblock %}
