{% extends "html/base.html" %}
    {% load staticfiles %}
    {% block head %}
    {{ block.super }}
    <link href="{% static "css/program_plan.css" %}" rel="stylesheet" type="text/css">
    <script type="text/JavaScript" src="{% static "js/program_plan.js" %}"></script> 
    {% endblock %}

                   {% block nav_bar %}
                   <div class="nav_item">
                      <button class="pure-button smallButton" onclick="window.prompt('Permalink:', window.location.href);">
                         Permalink
                      </button>
                   </div>
                   <div class="nav_item">
                      <a href="{% url 'polygons.views.program_plan_to_pdf' program_plan.id %}" target="_blank">
                         <button class="pure-button smallButton">
                            Export to PDF
                         </button>
                      </a>
                   </div>
                   <div class="nav_item">
                      <form method="POST" action="{% url 'polygons.views.delete_program_plan' program_plan.id %}" onsubmit="return confirm('Are you sure want to permanently delete this plan?');"> 
                         {%csrf_token %}
                         <button type="submit" class="pure-button smallButton">
                            Delete Plan
                         </button>
                      </form>
                   </div>
                   {% if not finished %}
                   <div class="nav_item">
                      <form method="POST" action="{% url 'polygons.views.new_semester' program_plan.id %}"> 
                         {%csrf_token %}
                         <button type="submit" class="pure-button smallButton">
                            Add Semester
                         </button>
                      </form>
                   </div>
                   {% endif %}
                   {% endblock %}

    {% block body %}
        <h1>
            Program Plan ({% if finished %} FULL {% else %} {{ program_plan.uoc_tally }} / {{ program_plan.program.uoc }} UOC {% endif %})
        </h1>
        <h2>
           {{ program_plan.program }}
        </h2>

        <div id="remove_course_popup_container">
           <div id="remove_course_popup">
              <ul id="dependent_subjects">
                 The following dependent courses will also be deleted from your plan:
              </ul>
              <div>
                 Are you sure you want to delete the course?
              </div>
              <div>
                 <button class="pure-button smallButton confirmation_button" onclick="location.reload();">
                    No
                 </button>
   		        <form method="POST" action="{% url 'polygons.views.remove_course' program_plan.id %}" class="confirmation_button">
   			        {% csrf_token %}
                    <input type="hidden" name="subject" value="" id="remove_course_field">
   				     <button type="submit" class="pure-button smallButton">
                       Yes
                    </button>
   			     </form>
              </div>
           </div>
        </div>
        
        {% for plan_year in plan_years %}
            <div class="yearFrame">
                <div class="yearBanner">Year {{ plan_year.year }}</div>
                {% for plan_semester in plan_year %}
                    <div class="semesterFrame">
                        <table> 
                            <th>{{ plan_semester.semester }} (UOC: {{ plan_semester.uoc }} / {{ MAX_SEMESTER_UOC }})</th>
                            {% for subject in plan_semester %}
                            <tr><td class="subject_row">
                                <a href="{{ subject.handbook_link }}" class="subject_col subject_name" target="_blank">{{ subject }}</a>
                                <div class="remove_course_button subject_col remove_subject_button" onclick="display_remove_course_popup('{% url 'polygons.views.fetch_dependent_subjects' program_plan.id subject.id %}', {{ subject.id }});">
                                   X
                                </div>
                            </td></tr>
                            {% endfor %}
                            {% if not plan_semester.is_uoc_full and not finished %}
                                <tr><td>
                                    <form method="POST" action="{% url 'polygons.views.program_plan' program_plan.id %}"> 
                                        {%csrf_token %}
                                        <input type="hidden" name="semester" value="{{ plan_semester.semester.id }}">
                                        <input type="hidden" name="year" value="{{ plan_year.year }}">
                                        <button type="submit" class="pure-button smallButton">
                                           Add Course
                                        </button>
                                    </form>
                                </td></tr>                            
                            {% endif %}
                        </table>
                    </div>
                {% endfor %}
                <div style="clear: both;"></div>
            </div>
            <div style="clear: both; height: 50px;"></div>
        {% endfor %} 
    {% endblock %}
