{% extends "html/base.html" %}
    {% load staticfiles %}
    {% block head %}
    <link href="{% static "css/review_page.css" %}" rel="stylesheet" type="text/css">
    {% endblock %}
    {% block body %}
    <ul>
    Polygons Course Review offers current UNSW students the chance to help make course selection easier for their peers, by leaving reviews of subjects they have completed. Current and prospective students can easily look up a course in which they intend to study, in aim to gain a little more insight of what to expect.
        <table>
           <tr><th>Filter by letter</th></tr>
        </table>
        <table>
            <tr>
                {% for char in alphabet %}
                    {% if char not in "QXY" %}                    
                        <td> <a href="{% url 'polygons.views.review_page' char %}">{{char}}</a> </td>
                    {% endif %}
                {% endfor %}
            
            </tr>
        </table>
        <br>
        {% for subject in subjects %}
            <li>
                <a href="#">{{ subject.code }}
                </a>
            </li>
        {% endfor %}
    </ul>
    {% endblock %}
